@mixin theme($theme:$color-01,$bg: $color-04) {
    border: 2px solid $theme;
    background-color: &$bg;
    
}


.casas  {

    /*

    .casas__list
    .casas__item
    .casas__botton
    .casas__img
    
    
    */
    ul {


        list-style-type: none;
        font-size: 1.4;
        display: block;
        height: 200px;
        padding: 1rem;
        width: 100%;
        float: left;
        padding-left: 10px;

    }

    .destaks{
        @include theme;
    }

    li{
        display: block;
        float: left;

    }

    div{
        padding-right: 90px;
        width: 33%;
    }

}

a{
    background-color: $color-02;
    color: $bg-color;
}

img{
    width: auto;
    height: 200px;
}

&__description{
    color: $color-04;
    font-size: $font-small;
    float: left;
}


