
$align:left;
$bg-color:#dedede;
$color-01:#595;
$color-02:#999;
$color-03:#f00;
$color-default:#444;
$color-04:rgb(26, 26, 61);
$font-big:2.5rem;
$font-family-default:arial,helvetica,sans-serif;
$font-medium:2rem;
$font-normal:1.8rem;
$font-small:1.2rem;
$mb:2rem;
$mt:1rem;
$st-02:2rem;